.feed{
    position:relative;
    top: 100px;
    width: 80%;
    margin: auto
}

/* Landscape tablets and medium desktops */
@media (min-width: 1200px) {
    .profile-img{
        width: 125px;
        height: 125px
      }
      .feed{
          position:relative;
          width:50%;
          margin: 10px auto;
          top: 100px
      }


}



/* Portrait tablets and small desktops
@media (min-width: 768px) and (max-width: 991px) {
    .profile-img{
        width: 125px;
        height: 125px
      }

} */

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .profile-img{
        width: 100px;
        height: 100px
      }
      body,.feed{
        width: 75%
    }


}

/* Portrait phones and smaller*/
@media (max-width: 480px) {
    .profile-img{
        width: 100px;
        height: 100px
      }
      body,.feed{
        width: 100%
    }

} 
  