.chat-app{
    /* display:flex; */
    /* border: black 2px solid; */
    height: 50%;
    width: 50%;
    text-align: center;
    position:fixed;
    bottom: 0;
    right:0;
    /* padding: 5px 5px 0px 5px; */
    z-index:10
    
}

.list-follow{
    width: 30%;
    display:flex;
    margin-left: auto;
    margin-top:auto
}

.list-follow img{
    width: 25px;
    
    
}


.list-follow li{
    list-style-type: none;
    border-bottom: solid 1px grey;
    cursor: pointer;
    padding:0
    
}

.list-follow ul{
    width:100%
}


.follow-chat-wrapper{
    display:flex;
    flex-direction: row;
    height: 100%

    
    
}


.follow-chatroom{
  
    width:100%;
    border: black 2px solid;
    background:rgb(247, 241, 225);
    position:relative;
    overflow: scroll;
    height:90%;
    
    
    
}


.chatroom-input{
    display:flex;
    width:100%;
    position: relative;
    bottom:0;
    height: 13%;
   

}


.chatroom-input div{
    flex : 1
}

.chatroom-input-btn{
    width:25%
}
.chat-one-message--right{
    position: relative;
    top: 6px;
    text-align: right;
    padding: 5px
}

.chat-one-message--left{
    text-align: left;
    padding: 5px
}

.chat-one-message--left small, .chat-one-message--right small {
    position: relative;
    top: 8px;
}


.chatroom-input-follow-wrapper{
    width:100%;
    
}


