.profile{
    display:grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: repeat(2, auto);
    width: 70%;
    margin: 0 auto 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid 
}




.username-follow{
    display:flex;
    flex-direction: row;
    margin-bottom: 5px;
   
   
}

.username-follow > div{
    margin-right: 10px;
}


.profile-stats{
    display:flex;
    flex-direction: row;
}


.profile-stat-count{
   flex: 1 1 auto
   
}

